.deletion {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.deletion .hirethesbest {
  font-size: 15px;
  font-family: GilroyMedium, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 22px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.deletion .hirethesbest input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin: 0;
}

.deletion a.hirethesbest-link,
a.hirethesbest-link:active,
a.hirethesbest-link:visited {
  color: #1688fe;
}

.deletion .delete-confirm {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e3e3e4;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.deletion .delete-confirm div:nth-child(1) {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.deletion .delete-confirm h5 {
  font-family: GilroySemiBold, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.deletion .delete-confirm p {
  font-family: GilroyMedium, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  margin: 0;
}

.deletion .delete-confirm p.confirm-deletion {
  font-family: GilroySemiBold, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #f25773;
  margin: 0;
}
